@import 'common/_minix.scss';
@import 'common/common.scss';
.wrap {
    height: 100%;
    width: 100%;
    @include box_flex;
    @include direction(column);
}

header {
    width: 100%;
    height: pxTorem(44px);
    @include box_flex;
    @include align;
    @include justify(space-between);
    padding: 0 pxTorem(15px);
    @include sizing;
    font-size: pxTorem(16px);
}

section {
    @include flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .scroll {
        width: 95%;
        height: auto;
        // text-align: center;
        @include box_flex;
        @include justify;
        @include direction(column);
        >div {
            height: pxTorem(80px);
            width: 100%;
            border: pxTorem(1px) solid #ccc;
            margin: pxTorem(5px) pxTorem(10px);
            font-size: pxTorem(15px);
            @include box_flex;
            @include align;
            div {
                @include flex;
                margin-left: pxTorem(5px);
            }
            img {
                height: pxTorem(25px);
                width: pxTorem(25px);
                margin: 0 pxTorem(5px);
            }
        }
    }
}

footer {
    height: pxTorem(50px);
    width: 100%;
    background: orange;
    color: #fff;
    line-height: pxTorem(50px);
    text-align: center;
    font-size: pxTorem(18px);
}

.dialog {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .4);
    position: absolute;
    top: 0;
    left: 0;
    @include box_flex;
    @include align;
    @include justify;
    >div {
        height: pxTorem(150px);
        width: 82%;
        background: #fff;
        border-radius: pxTorem(10px);
        h4 {
            line-height: pxTorem(40px);
            text-align: center;
        }
        input {
            height: pxTorem(35px);
            width: 80%;
            display: block;
            background: #F0F0F0;
            color: #666;
            margin: 0 auto;
            border-radius: pxTorem(5px);
            padding-left: pxTorem(5px);
        }
        p {
            height: pxTorem(45px);
            width: 100%;
            margin-top: pxTorem(30px);
            @include box_flex;
            span {
                width: 50%;
                height: pxTorem(45px);
                text-align: center;
                line-height: pxTorem(45px);
                border: pxTorem(1px) solid #ccc;
                @include sizing;
            }
        }
    }
}

.flag {
    display: none;
}